
.logo{
  height: 50%;
}

.header-top img{
  height: 18px;
  margin: 10px 10px;
}

.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.sc-inner{
  height: 100%;
}

.sc-inner{
  display: flex;
}

 .jumbo-caption{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 40px;
} 

.jumbo-caption h2, p{
  margin-bottom: 30px;
}

.jumbo-caption p{
  width: 60%;
}
.btn-red{
  font-size:15px ;
  padding: 8px;
  background-color: red;
  color: white;
  width: 130px;
  border: 1px solid black;
  border-radius: 50px;
}