
.logo{
  height: 50%;
}

.header-top img{
  height: 18px;
  margin: 10px 10px;
}

.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sc-inner{
  display: flex;
  height: 100%;
}

 .jumbo-caption{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 200px 0 0 0;
} 

.jumbo-caption h2, p{
  margin-bottom: 30px;
}

.jumbo-caption p{
  width: 60%;
}

.btn-red{
  font-size:15px ;
  padding: 8px;
  background-color: red;
  color: white;
  width: 130px;
  border: 1px solid black;
  border-radius: 50px;
}

.games-carousel{
  margin-top:50px;
}

.box-carousel{
  height: 100px;
  width: 200px;
  border-radius: 15px;
}

.box-carousel img{
  width: 100%;
  border-radius: 15px;
}

.ps5{
  margin: 100px auto;
}

.btn-blue{
  font-size:15px ;
  padding: 8px;
  background-color: rgb(69, 69, 196);
  color: white;
  border: 1px solid rgb(69, 69, 196);
  border-radius: 50px;
}

.ps5-prev{
  width: 100%;
}

.ps5-prev img{
  width: 100% ;
}

.box-prev{
  margin: 10px; 
  width: 100%;
}

.box-prev img{
  opacity: 0.5;
  margin-bottom: 5px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.active p{
  border-bottom: 2px solid blue;
}

.active img{
  opacity: 1;
}

.jumbo-news-top{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.jumbo-news-bottom{
  background-color: #1F1F1F;
}

.box-new{
  width: 100%;
}

.box-new img{
  width: 100%;
  border-radius: 15px;
}

.ps4-box{
  margin: 10px; 
}

.ps4-box img{
  margin-bottom: 5px;
  height: 100%;
  width: 100%;
}

.ps4{
  margin: 100px auto;
}

.ps-plus{
  background-color: #BEBCBB;
}

.ps-plus-left{
  height: 100%;
}

.ps-plus-left img{
  width: 100%;
  margin: 20px 0;
}

.btn-plus{
  background-color: #D9DADC;
  color: #3D6FE5;
  padding: 10px;
  border: 1px solid #D9DADC;
  border-radius: 50px;
}

.ps-plus-right{
  height: 100%;
}

.ps-plus-right img{
  width: 100%;
}

.sconti{
  margin-top: 100px;
}

.box-sconti{
  padding: 50px;
}

.box-sconti img{
  width: 100%;
}

.ps-now{
  background-color: #161C3B;
  color: white;
}

.ps-now-left{
  height: 100%;
}

.ps-now-left img{
  width: 70%;
  margin: 120px 0 20px 0;
}

.ps-now-right{
  height: 100%;
}

.ps-now-right img{
  width: 100%;
}

.btn-now{
  background-color: #D9DADC;
  color: black;
  padding: 10px;
  border: 1px solid #D9DADC;
  border-radius: 50px;
}