
.logo{
  height: 50%;
}

.header-top img{
  height: 18px;
  margin: 10px 10px;
}

.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  /* altezza placeholder */
  height: 700px;
}

.sc-inner{
  height: 100%;
}

.sc-inner{
  display: flex;
}

 .jumbo-caption{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 40px;
} 

.jumbo-caption h2, p{
  margin-bottom: 30px;
}

.jumbo-caption p{
  width: 60%;
}

.btn-red{
  font-size:15px ;
  padding: 8px;
  background-color: red;
  color: white;
  width: 130px;
  border: 1px solid black;
  border-radius: 50px;
}

.games-carousel{
  margin-top:50px;
}

.box{
  margin: 10px; 
  height: 140px;
  width: 240px;
  padding: 15px;
}

.box img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.ps5{
  margin: 50px auto;
}

.btn-blue{
  font-size:15px ;
  padding: 8px;
  background-color: rgb(69, 69, 196);
  color: white;
  border: 1px solid rgb(69, 69, 196);
  border-radius: 50px;
}

.ps5-prev{
  width: 100%;
}

.ps5-prev img{
  width: 80% ;
}

.box-prev{
  margin: 10px; 
  height: 150px;
  width: 150px;
}

.box-prev img{
  opacity: 0.5;
  margin-bottom: 5px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.active p{
  border-bottom: 2px solid blue;
}

.active img{
  opacity: 1;
}